body{
  margin: 0;
  background-color: #FADADD;
  box-sizing: border-box;
}
.navbar{
  height: 3.5em;
  width: 100%;
  background-color: #996666;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid black;
}
.navbar img{
  height: 2.5em;
  align-items: center;
  border: 0.3px solid black;
  justify-content: center;
  border-radius: 50%;
}
.Products{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  gap: 10px;
  margin-top: 50px;
}
.Products img{
  align-items: center;
  height: auto;  
  width: 102%;
  
}
.card1, .card2{
  display: flex;
  width: 45%;
  height: 20em;
  align-items: center;
  justify-content: flex-start;
  border: 3px solid #996666;
  background-color: white;
  flex-direction: column;
  border-radius: 5%;
  overflow: hidden;
}
.Products h4{
  color: #996666;
  padding-top: 1.5em;
 text-decoration: underline; j
}
@media (max-width: 600px){
 .card1,.card2{
   height: 40em;
 }
}
