body{
  margin: 0px;
  padding: 0px;
  display: ;
}
#container{
  height: 50px;
  width: 100%;
  background-color: lightblue;
}

.links{
  height: 35px;
  width: 35px;
  dislay: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px, solid, black;
  border-radius: 50%;c
}
#container{
  gap: 7px;
  justify-content: center;
  align-items: center;
  display: flex;
}
#Flexbox{
  text-decoration: none;
  color: black;
  align: center;
  justify-content: center;
  display: flex;
}
.box{
  background-color: lightblue;
  height: 120px;
  width: 120px;
  border: 0.5px, solid, black;
  border-radius: 10px;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}
#box{
  display: flex;
  gap: 2px;
  border: 2px, solid, black;
  justify-content: flex-start;
  justify-content: center !important;
  justify-content: flex-end;
  justify-content: space-around;
  justify-content: between;
  justify-content: space-evenly!important;
  align-items: flex-start;
  align-items: center !important;
  align-items: flex-end;
  flex-direction: row;
  flex-direction: row-reverse !important;
  flex-direction: column;
  flex-direction: column-reverse;
  min-height: 500px;
  flex-wrap: wrap!important;
  flex-wrap: nowrap;
  align-content: space-around;
  align-content: space-between;
  align-content: space-evenly!important;
}
#box-1{
  display: flex;
  gap: 10px;
  border: 2px, solid, black;
  min-height: 500px;
}
.box-1{
  flex-grow: 1;
  max-width: 200px;
  flex-shrink: 1;
  min-width: 50px;
  background-color: lightblue;
  height: 120px;
  width: 120px;
  border: 0.5px, solid, black;
  border-radius: 10px;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}
